{% extends 'base.html.twig' %}

{% block title %}
My account
{% endblock %}

{% block body %}
    <p><strong>Name: </strong> {{ user.username }}</p>
    <p><strong>Email: </strong> {{ user.email }}</p>
    <p><strong>Date of registration: </strong> {{ user.createdAt }}</p>
{% endblock %}